img.favicon {
    width: 24px !important;
    height: 24px !important;
    min-height: 24px !important;
    min-width: 24px !important;
    max-height: 24px !important;
    max-width: 24px !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}