@use "./variables" as variables;
@use "./color" as color;

:root {
    --unordered-list-style-type: '· ';
}

li {
    list-style-type: var(--unordered-list-style-type);
}


.page-description {
    font-style: italic;
    padding-left: 2.5%
}